@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/fonts/AngleciaProText-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('./fonts/AngleciaProText-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 02';
    src: url('../fonts/Eina02-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 02';
    src: url('../fonts/Eina02-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 02';
    src: url('./fonts/Eina02-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

