:root {
  --accent-1: #24265B;
  --accent-2: #FF6E86;
  --font-main: 'Source Sans Pro', sans-serif;
  --font-scnd: 'Circular Std', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

*:hover, *::after, *::before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.lvl-10, header, header.show #btnCollapse::before {
  z-index: 10000;
}

.lvl-9 {
  z-index: 9000;
}

.lvl-8 {
  z-index: 8000;
}

.lvl-7 {
  z-index: 7000;
}

.lvl-6 {
  z-index: 6000;
}

.lvl-5 {
  z-index: 5000;
}

.lvl-4 {
  z-index: 4000;
}

.lvl-3 {
  z-index: 3000;
}

.lvl-2 {
  z-index: 2000;
}

.lvl-1 {
  z-index: 1000;
}

.lvl-base, main {
  z-index: 0;
}

.container, main {
  max-width: 900px;
  margin: 0 auto;
}

body {
  font-family: var(--font-main);
}

h1, h2, h3, h4 {
  font-family: var(--font-scnd);
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  padding: 10px 30px;
  font-family: var(--font-scnd);
  color: var(--accent-2);
  border: 2px solid var(--accent-2);
  border-radius: 3px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}

header {
  padding: 30px 40px;
  background-color: var(--accent-1);
  color: white;
  height: 150px;
}

header .container, header main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container #logo, header main #logo {
  color: var(--accent-2);
  font-weight: bold;
  font-family: var(--font-scnd);
}

header .container #logo span, header main #logo span {
  color: white;
}

header .container #btnCollapse, header main #btnCollapse {
  font-family: var(--font-scnd);
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .container #btnCollapse::after, header main #btnCollapse::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-bottom: 2px solid var(--accent-2);
}

header .container nav, header main nav {
  display: none;
  position: absolute;
  top: 90px;
  right: 30px;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 7px 49px 0px rgba(0, 0, 0, 0.329);
          box-shadow: 0px 7px 49px 0px rgba(0, 0, 0, 0.329);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: showMenu .2s normal;
          animation: showMenu .2s normal;
}

header .container nav ul, header main nav ul {
  margin-bottom: 25px;
}

header .container nav ul li, header main nav ul li {
  list-style-type: none;
  margin: 0px;
  margin-bottom: 15px;
  color: var(--accent-1);
}

header .container nav ul li a:not(.btn), header main nav ul li a:not(.btn) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-1);
}

header .container nav ul li:last-child, header main nav ul li:last-child {
  margin-bottom: 0;
}

header .container nav ul li h3, header main nav ul li h3 {
  margin-bottom: 0px;
  font-family: var(--font-scnd);
}

header .container nav ul li svg, header main nav ul li svg {
  margin-right: 15px;
}

header .container nav ul:hover li a:not(.btn), header main nav ul:hover li a:not(.btn) {
  opacity: 0.5;
}

header .container nav ul:hover li a:not(.btn):hover, header main nav ul:hover li a:not(.btn):hover {
  opacity: 1;
}

header.show #btnCollapse::before {
  display: none;
  content: ' ';
  position: absolute;
  top: 44px;
  left: 16px;
  height: 17px;
  width: 17px;
  background: white;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

header.show nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: unset;
  width: 100%;
  height: unset;
  -webkit-transform: scale(1);
          transform: scale(1);
}

main {
  margin-top: -50px;
}

main section {
  margin-bottom: 50px;
}

main section #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  padding: 30px;
  background-image: url(../assets/images/Group-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  text-align: center;
  color: white;
}

main section #hero h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

main section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30% !important;
      flex-basis: 30% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.11);
}

main section.cards .card .wrapper {
  position: relative;
}

main section.cards .card .wrapper display img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px 0px 15px 0px;
  border-radius: 100%;
}

main section.cards .card .wrapper .tag {
  position: absolute;
}

main section.cards .card h2, main section.cards .card h3 {
  width: 100%;
  padding: 20px;
  color: var(--accent-1);
  background: white;
  text-align: center;
}

@media (min-width: 768px) {
  header.show nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    /* bottom: 0px; */
    right: 0px;
    width: 300px;
    left: unset;
    top: 61px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header.show nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
  }
  header.show nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 15px;
  }
}

@-webkit-keyframes showMenu {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes showMenu {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes hideMenu {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0;
  }
}

@keyframes hideMenu {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0;
  }
}
/*# sourceMappingURL=main-MacBook Pro van Lennert.css.map */